name: Standard workflow for releases

permissions:
  contents: read

defaults:
  run:
    shell: bash

on:
  workflow_call:
    inputs:
      use-app-token:
        description: "If enabled, create an app token to authenticate with."
        required: false
        default: false
        type: boolean
    secrets:
      semantic-release-token:
        description: "The PAT used by the semantic release action"
        required: false
      app-token-app-id:
        description: "App ID when using a GitHub app for auth"
        required: false
      app-token-private-key:
        description: "App private key when using a GitHub app for auth"
        required: false
jobs:
  release:
    name: release
    runs-on: ubuntu-24.04
    # run only on pushes. The semantic release default config allows releases
    # to only be created from the default branch ('master'). The ci.yaml
    # is configured to only run on pushes to master as well.
    if: ${{ github.event_name  == 'push' }}
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit # change to 'egress-policy: block' after couple of runs

      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        if: ${{ inputs.use-app-token }}
        with:
          app-id: ${{ secrets.app-token-app-id }}
          private-key: ${{ secrets.app-token-private-key }}
          owner: ${{ github.repository_owner }}

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          # via <https://stackoverflow.com/questions/74744498/github-pushing-to-protected-branches-with-fine-grained-token/76550826#76550826>
          persist-credentials: false

      # Only required temporary: https://github.com/cycjimmy/semantic-release-action/issues/159
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@b12c8f6015dc215fe37bc154d4ad456dd3833c90 # v6.0.0
        with:
          extra_plugins: |
            conventional-changelog-conventionalcommits@8.0.0
            semantic-release-replace-plugin@1.2.0
            @semantic-release/git@10.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.semantic-release-token || steps.app-token.outputs.token || secrets.GITHUB_TOKEN }}
